.sec-committ{
    color: $redColor2;
    display: block;
    position: relative;
    padding-left: 2.4em;
    margin-bottom: 1.2em;
    font-size: 20px;
    text-transform: uppercase;
    &:after{
        content: '';
        display: block;
        width: 2em;
        height: .1em;
        background-color: $redColor2;
        color: $redColor2;
        position: absolute;
        right: 97%;
        top: 50%;
        // transform: translateY(-50%);
        
    }
}